{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 6,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "chrome": true,
    "__dirname": true
  },
  "rules": {
    "no-irregular-whitespace": 0,
    "no-const-assign": "off",
    "comma-dangle": ["error", "never"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": 0,
    "curly": 2,
    "space-before-blocks": 2
  }
}